.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15vh;
}

.textContainer{
    width: 60%;
    background-color: #EEEEEE;
    padding: 20px;
    border-radius: 20px;
}

.textContainer span{
color: #163050;
}
/* ::::::::::::::::::::::::::::::::RESPONSIVE :::::::::::::::::::::::::::::::::::::::::::::*/
@media (max-width: 900px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textContainer{
        margin-top: 20px;
    }
  }