.AllstatusContainer{
    padding : 2vw;
}

.statusListTitle{
    border-bottom: 3px solid #E6E6E6;
    font-size: 30px;
    color : #163050;
}

.StatusContainer{
    margin-top: 45px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}