@font-face {
  font-family: 'Tiresias';
  src: url('../public/font/Tiresias_Infofont.ttf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Tiresias', 'Calibri', sans-serif;
}

* {
  box-sizing: border-box;
}