@font-face {
    font-family: 'Tiresias';
    src: url('../public/font/Tiresias_Infofont.ttf') format('truetype');
  }

.kairos {
    display: flex;
    justify-content: center;
    min-width: 10vw;
    max-width: 10vw;
    position: absolute;
    left: 45vw; 
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding-left: 40px;
    padding-right: 40px;
}

.container h1{
    color: #163050;
    width: 100px;
}

.container img{
    width: 100px;
}

.link{
    color:#163050;
    text-decoration: none;
    padding: 0 30px ;
}

.buttonsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.linkContainer{
    width: 50%;
    border: 1px solid purple;
}

.signUpBtn {
    text-decoration: none;
    width: 120px;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    background-color: #163050;
    color: white;
    cursor: pointer;
    border: 0;
    text-align: center;
}

.logo {
    cursor: pointer;
}

.info{
    display: flex;
    align-items: center;
}
/* ::::::::::::::::::::::::::::::::RESPONSIVE :::::::::::::::::::::::::::::::::::::::::::::*/
@media (max-width: 900px) {
    .info p{
        display: none;
    }

    .link{
        display: none;
    }
    .signUpBtn {
        width: auto;
    }
  }