.AllsearchContainer{
    padding : 2vw;
}


.searchesListTitle{
    border-bottom: 1px solid black;
}

.SearchesContainer{
    margin-top: 45px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    height: 80px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding: 2%;
    margin-top: 2%;
    background-color: #F9F2D1;
}

.card h3{
    margin-right: 10px;
}

.card p{
    margin-right: 10px;
}

.btnView {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    background-color: #163050;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }