.noResultPage{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noResultSentence{
  margin-top: 7vh;
}

.resultPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreContainer {
  display: flex;
  align-items: center;
  width: 90%;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 25px;
  padding-top: 15px;
}

.score {
  font-size: 45px;
  padding-right: 3%;
  padding-bottom: 0px;
}

.firstResult {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.mapResult {
  border: 1px solid #EBEBEB;
  height: 60vh;
  min-width: 45%;
  background-color: #FAFAF5;
  border-radius: 25px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.showResult {
  height: 60vh;
  min-width: 50%;
  padding: 2%;
  overflow-y: auto;
  border: 1px solid #EBEBEB;
  border-radius: 25px;
}



.map{
    height: 90%;
    width: 90%;
    margin-bottom: 2px;
  }

.companiesNb {
  width: 90%;
}

.showContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.detailledResult {
  padding: 2%;
}

.allGraphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #FAFAF5;
  border: 1px solid #EBEBEB;
  padding: 20px;
  border-radius: 25px;
}

.allGraphs canvas{
 width: 50% !important;
 height: auto !important;
}

.details{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ad{
  text-decoration: none;
  width: 120px;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  background-color: #163050;
  color: white;
  cursor: pointer;
  text-align: center;
}

.hoverBulle {
  margin-left: 8px;
  margin-bottom: 20px;
  background-color: #EBEBEB;
  color: #163050;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 10px;
}

.scoreContainer .bulle {
  background-color: #163050;
  width: 250px;
  overflow-wrap: break-word;
}

.faq {
  display:flex;
  justify-content: space-evenly;
}