.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: 20%;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40%;
    background-color: #163050;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }
  .divGoogle{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20%;
    border-bottom: 1px solid grey;
  }
  .buttonGoogle{
    height: 40px;
    width: 80%;
    background-color: #163050;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }
  .connexion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input {
    height: 40px;
    margin-bottom: 15px;
    border: 1px #163050 solid;
    border-radius: 3px;
    background-color: #E6E6E6;
    font-weight: 600;
    padding: 10px;
    width : 80%;
  }
  .error{
    color: red;
    margin-top: 0;
    font-size: small;
  }

  .pwdInputContainer {
    width: 80%;
  }

  .eyeIcon {
    z-index: 1;
    cursor: pointer;
    position: relative;
    bottom: 60%;
    left: 88%;
    color: #163050;
  }

  .pwdInput {
    height: 40px;
    margin-bottom: 15px;
    border: 1px #163050 solid;
    border-radius: 3px;
    background-color: #E6E6E6;
    font-weight: 600;
    padding: 10px;
    width : 100%;
  }


