.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
    width: 20%;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40%;
    background-color: #163050;
    color: white;
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    border: none;
  }
  .name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px;
    width: 80%;
  }
  .inputName{
    height: 40px;
    width: 48%;
    margin-bottom: 15px;
    border: 1px #163050 solid;
    border-radius: 3px;
    background-color: #E6E6E6;
    font-weight: 600;
    padding: 10px;
  }
  .input {
    height: 40px;
    width: 80%;
    margin-bottom: 15px;
    border: 1px #163050 solid;
    border-radius: 3px;
    background-color: #E6E6E6;
    font-weight: 600;
    padding: 10px;
  }

  .error{
    color: red;
    margin-top: 0;
    font-size: small;
    text-align: center;
    padding : 5px;
  }

  .pwdInputContainer {
    width: 80%;

  }

  .eyeIcon {
    z-index: 1;
    cursor: pointer;
    position: relative;
    bottom: 25%;
    left: 88%;
    color: #163050;
  }

  .pwdInput {
    height: 40px;
    border: 1px #163050 solid;
    border-radius: 3px;
    background-color: #E6E6E6;
    font-weight: 600;
    padding: 10px;
    width : 100%;
  }

